/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
}

.heroSection {
    width: 720px;
    height: 343px;
    margin: 0px auto;
    background-image: url("images/torshov.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1,
h2 {
    margin: 0;
}

h1 {
    width: 200px;
    color: white;
    background-color: #1D3557;
}

h2 {
    width: 350px;
    font-size: 18px;
    padding: 4px 20px;
    border-radius: 8px;
    color: white;
    background-color: #457B9D;
    box-sizing: border-box;
}

.activitiesSection {
    width: 720px;
    height: 378px;
    background: #A8DADC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activitiesSection_fonts {
    font-weight: bold;
}

.spot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img_radius {
    border-radius: 50%;
}

.spot_sections {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
